//
//  Networking.xcconfig
//  Host
//
//  Created by Richard Stelling on 30/05/2016.
//  Copyright © 2016 Richard Stelling. All rights reserved.
//

MODULEMAP_FILE[sdk=iphoneos*] = $(SRCROOT)/Networking/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(SRCROOT)/Networking/simulator.modulemap