//
//  Networking.xcconfig
//  Host
//
//  Created by Richard Stelling on 30/05/2016.
//  Copyright © 2016 Richard Stelling. All rights reserved.
//

MODULEMAP_FILE[sdk=iphoneos*] = $(PROJECT_DIR)/Maps/custom-phoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(PROJECT_DIR)/Maps/custom-simulator.modulemap
MODULEMAP_FILE[sdk=macosx*] = $(PROJECT_DIR)/Maps/custom-mac.modulemap
